<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Selects</title>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
<body>

<div class="container">
    <h2>Teste o encadeamento de selects em Django</h2>
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Click Aqui!</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Selects encadeados em Django</h4>
                </div>
                <div class="modal-body">
                    <form method="get">
                        <label>País</label>
                        <select id="pais" name="pais" class="form-control">
                            <option value="">---------</option>
                            {% for pais in all_pais %}
                            <option value="{{pais}}">{{pais}}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <label>Estado</label>
                        <select id="estado" name="estado" class="form-control">
                            <option value="">---------</option>
                            {% for estado in all_estado %}
                            <option value="{{estado}}" class="{{estado.pais}}">{{estado}}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <button id="button" class="btn btn-primary" type="submit">Enviar</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>

        </div>
    </div>

</div>


<script src="{% static 'js/jquery-latest.min.js' %}"></script>
<script src="{% static 'js/jquery.chained.js' %}"></script>

<script type="text/javascript">
	$(function() {
		$("#estado").chained("#pais");
	});
</script>

</body>
</html>